<footer class="site-footer">

  <div class="wrapper">
    <!--
    <div class="site-share">
      <ul>
        <li class="facebook"><i class="fa fa-facebook-square fa-2x"></i></li>
        <li class="twitter"><i class="fa fa-twitter-square fa-2x"></i></li>
        <li class="rss"><i class="fa fa-rss-square fa-2x"></i></li>
        <li class="email"><i class="fa fa-envelope fa-2x"></i></li>
      </ul> 
    </div>
    -->
    <div class="site-copyright">
      Copyrightⓒ2016 By Seotory.
    </div>
    <!--
    {{ site.description }}
    -->
  </div>

</footer>
