<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- error fix -->
    <div style="z-index: 10;position: relative;"></div>
    <div id="btn-move">
      <div id="btn-up">
        <i class="fa fa-chevron-circle-up fa-2x"></i>
      </div>
      <div id="btn-down">
        <i class="fa fa-chevron-circle-down fa-2x"></i>
      </div>
    </div>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% include footerScript.html %}
    
    <script id="dsq-count-scr" src="//zupper77.disqus.com/count.js" async></script>
  </body>

</html>
<!-- Proudly Hosted on GitHub | Generated {{ site.time }} | Revision {{ site.github.build_revision }} -->